################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KOS BU IPUNG PBO/FileContentIndex
